.scroll-top {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    height: 60px;
    width: 60px;
    z-index: 100;
    background-color: var(--primary-color);
    fill: var(--secondary-color);
    border-radius: 100%;
    border: 2px solid var(--secondary-color);

    & svg {
        height: 30px;
        width: 30px;
        @include transition();
    }

    &:hover {
        background-color: var(--secondary-color);
        fill: var(--primary-color);
        border: 2px solid var(--primary-color);

        svg {
            margin-top: -14px;
        }
    }
}

// .w-100{
//     display: block;
//     width: 100% !important;
// }