.scroll-top{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 5%;
    right: 5%;
    height: 70px;
    width: 70px;
    z-index: 100;
    background-color: var(--primary-color);
    fill: var(--secondary-color);
    border-radius: 100%;
    border: 2px solid var(--secondary-color);

    & svg{
        height: 35px;
        width: 35px;
        @include transition();
    }

    &:hover{
        background-color: var(--secondary-color);
        fill: var(--primary-color);
        border: 2px solid  var(--primary-color);

        svg{
            margin-top: -14px;
        }
    }
}

// .w-100{
//     display: block;
//     width: 100% !important;
// }