.checkout {
	&__brand {
		display: block;
		height: 50px;

		img {
			height: 100%;
		}
	}

	&__cart {
		background: #f7f7f7;
		padding: 30px;
		border-radius: 5px;
	}

	&__bread {
		font-size: 0;
	}

	&__description {
		ul {
			width: 100%;
		}

		li {
			display: flex;
			width: 100%;
			font-size: 18px;
			margin-bottom: 10px;

			p {
				font-weight: 700;
				margin-left: auto;

				span {
					font-size: 14px;
					margin-right: 5px;
				}
			}
		}

		.final {
			margin-top: 40px;

			div {
				font-weight: 600;
				display: flex;
				flex-direction: column;

				span {
					font-weight: 400;
					font-size: 12px;
				}
			}

			p {
				font-size: 30px;
			}
		}
	}

	& .steps {
		margin-bottom: 20px;

		ul {
			display: inline-flex;
			list-style: none;
			justify-content: flex-start;
			align-items: center;
			// border-bottom: 2px solid rgba(var(--prim-col), 1);
		}

		li {
			position: relative;
			&:not(:last-child) {
				&::after {
					content: '';
					position: absolute;
					display: inline-block;
					right: 0;
					bottom: 5px;
					height: 30px;
					width: 2px;
					transform: rotate(20deg);

					background: rgba(var(--prim-col), 0.4);
					margin-right: 10px;
				}
			}
		}

		a {
			display: inline-block;
			font-size: 20px;
			text-decoration: none;
			color: rgba(var(--prim-col), 0.8);
			font-weight: 400;
			padding: 5px 25px 5px 8px;
		}

		.current {
			&::after {
				background: rgba(var(--prim-col), 1) !important;
			}
			a {
				color: rgba(var(--prim-col), 1);
				font-weight: 600;
			}
		}

		.number {
			display: none;
		}

		.current-info {
			display: none;
		}
	}

	.actions {
		ul {
			display: flex;
			list-style: none;

			& > *:first-child {
				a {
					display: inline-block;
					font-size: 16px;
					padding: 0;
					color: var(--primary-color);
					@include transition;

					&:hover {
						text-decoration: underline;
					}
				}
			}

			& > *:nth-child(2),
			& > *:nth-child(3) {
				margin-left: auto;

				a {
					padding: 10px 40px;
					font-size: 16px;
					font-weight: 500;
					border: 2px solid var(--primary-color);
					transition: all 300ms ease;
					background-color: var(--primary-color);
					color: var(--secondary-color);
					text-decoration: none;

					&:hover {
						font-weight: 700;
						background-color: rgba(17, 17, 17, 0.2);
						color: var(--primary-color);
					}
				}
			}
		}

		.disabled {
			display: none;
		}
	}

	&__tab {
		padding-top: 20px;
	}

	&__review {
		display: block;
		display: flex;
		flex-direction: column;
		padding: 10px 20px;

		li {
			display: flex;
			align-items: center;
			padding: 10px 0;

			h6 {
				font-size: 16px;
				margin-right: 20px;
			}

			p {
				font-size: 16px;
			}
		}
	}

	&__method {
		position: relative;
		display: flex;
		@include transition;

		& .custom-control-label {
			position: absolute;
			left: 20px;
			width: 100%;
			height: 100%;

			&::after,
			&::before {
				position: absolute;
				top: 50%;
				left: 0px;
				transform: translateY(-50%);
			}
		}

		&:hover {
			background: #f7f7f7;
		}

		& .content {
			display: flex;
			flex: 1 1;
			padding: 20px 30px;

			&__title {
				font-weight: 600;
				display: flex;
				flex-direction: column;
				font-size: 18px;

				span {
					font-weight: 400;
					font-size: 12px;
				}
			}

			&__price {
				margin-left: auto;
				font-size: 20px;
				font-weight: 700;
			}
		}
	}

	&__payment {
		display: flex;
		list-style: none;
		width: 100%;

		li {
			display: flex;
			height: 70px;
			flex: 1 1;
		}

		.button {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			height: 100%;
			border: 1px solid rgba(17, 17, 17, 0.1);
			padding: 10px;
			@include transition;
			width: 100%;

			img {
				width: 90%;
			}

			p {
				font-weight: 700;
				font-size: 14px;
			}

			&:hover {
				background: var(--primary-color);
				color: var(--secondary-color);
			}
		}
	}
}

.method-selected {
	background-color: var(--primary-color);
	color: var(--secondary-color);
}
