.collections {
	&__result-count {
		font-size: 18px;

		b {
			font-size: 20px;
			font-weight: 700;
		}
	}

	&__pagination {
		& .pagination {
			font-size: 16px;
		}

		& .page-link {
			color: rgba(var(--prim-col), 1);

			&:focus {
				box-shadow: none;
			}
		}

		& .page-item {
		}
	}

	&__filter {
		& .card {
			border: none;
		}

		& .card-header {
			padding: 0;
			background: none;
			border: none;
		}

		& .accordion {
			margin-right: 30px;
		}

		& .collapseable {
			padding-left: 10px;
			padding-bottom: 20px;

			label {
				font-size: 15px;
			}
		}

		& .collapsed {
			span {
				&::before {
					background-color: rgba(var(--prim-col), 1);
				}
			}
		}
	}
}

.page-item.active .page-link {
	background: rgba(var(--prim-col), 1);
	border: none;
}
.page-item:last-child .page-link,
.page-item:first-child .page-link {
	border-radius: 0;
}
