.form-group {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin-bottom: 10px;

	label {
		font-weight: 700;
		font-size: 14px;

		span {
			color: var(--color-red);
		}
	}
}

.custom-checkbox {
	padding-left: 25px;

	.custom-control-label {
		font-weight: 300;
		font-size: 14px;
		box-shadow: none;
		outline: none;
		&:focus,
		&:hover {
			box-shadow: none;
		}

		&::before {
			border-radius: 0;
			border-color: rgba(var(--prim-col), 1);
		}
	}
}

.custom-control-input:checked ~ .custom-control-label::before {
	background: var(--primary-color) !important;
	border-color: var(--primary-color-light) !important;

	&:focus {
		box-shadow: none;
	}
}

.inp {
	border: none;
	outline: none;
	background: none;

	&--primary {
		font-size: 16px;
		padding: 6px 10px;
		width: 100%;
		border: 1px solid var(--primary-color-light);
		border-bottom-width: 3px;
		@include transition;

		&::placeholder {
			font-size: 14px;
		}

		&:focus {
			border: 1px solid var(--primary-color);
			border-bottom-width: 3px;
		}
	}

	&--count {
		display: flex;
		height: 100%;
		margin-left: auto;

		& div {
			display: flex;
			flex-direction: column;

			button {
				height: 50%;
				padding: 5px;
				font-weight: 600;
				border: 1px solid var(--primary-color);
				border-left: none;
				font-size: 16px;
				@include transition;

				&:hover {
					background: var(--primary-color);
					color: var(--secondary-color);
				}

				&:not(:last-child) {
					border-bottom: none;
				}
			}
		}

		& input {
			height: 100%;
			width: 70px;
			padding: 10px;
			text-align: center;
			border: none;
			border: 1px solid var(--primary-color);
			font-size: 40px;
			user-select: none;

			&:disabled {
				background-color: var(--secondary-color);
				color: var(--primary-color);
			}
		}
	}

	&--select {
		font-size: 15px;
		padding: 8px 10px;
		border: 1px solid var(--primary-color);
		border-top-right-radius: 3px;
		border-top-left-radius: 3px;
		border-bottom-width: 3px;
		height: 100%;
		width: 100%;
	}

	&--footer {
		font-size: 14px;

		width: 100%;
		padding: 8px 14px;
		background: var(--secondary-color);
	}
}
