.card {
	display: flex;
	position: relative;
	flex-direction: column;
	border-radius: 0;

	&--primary {
		height: 350px;
		max-height: 350px;
		width: 100%;
		border: 1px solid transparent;

		background-color: var(--secondary-color);
		overflow: hidden;
		color: var(--primary-color);

		&:hover {
			color: var(--primary-color);
			text-decoration: none;
			// box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
			// 	0 4px 6px -2px rgba(0, 0, 0, 0.05);

			& .card--primary__prev-img {
				opacity: 1;
			}
		}

		&__main-img {
			position: relative;
			overflow: hidden;
			width: 100%;
			height: 100%;

			& img {
				position: absolute;
			}
		}

		&__tray {
			display: flex;
			position: absolute;
			z-index: 20;
			width: 100%;
			justify-content: space-between;
			top: 0;
			right: 0;
			padding: 5px;

			svg {
				height: 25px;
				width: 25px;
			}
		}

		.btn--icon {
			&:hover {
				.heart {
					fill: rgba(var(--prim-col), 1);

					& .inner {
						fill: rgba(var(--prim-col), 1);
					}
				}
			}
		}

		&__prev-img {
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;
			transition: all 300ms ease;
			opacity: 0;

			img {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 100%;
				height: 100%;
				transform: translate(-50%, -50%) scale(1);
			}
		}

		&__body {
			text-align: center;
			z-index: 15;
			background-color: var(--secondary-color);
			padding: 10px;
			transition: all 800ms ease;
			height: 25%;

			.title {
				font-size: 16px;
				padding: 0;
				letter-spacing: -1px;
			}

			.price {
				display: inline-block;
				font-size: 14px;
				font-weight: 400;
				padding: 3px 5px;
				margin-left: -5px;
				// transition: color 300ms ease;
				// background-color: var(--primary-color);
				// color: var(--secondary-color);
			}
		}

		&__main {
			flex: 1 1;
			height: 75%;
			position: relative;
		}

		&__link {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 10;
		}

		&__button {
			position: absolute;
			display: block;
			width: 100%;
			height: 40px;
			font-size: 14px;
			background: var(--primary-color-light);
			color: var(--secondary-color);
			@include transition;
			left: 0;
			bottom: -40px;
			z-index: 12;

			&:hover {
				background: var(--primary-color);
			}
		}

		&:hover {
			& .card--primary__button {
				bottom: 0;
			}
		}
	}

	&--comment {
		border: 1px solid #ebebeb;

		&__header {
			display: flex;
			padding: 15px;
			align-items: center;
		}

		&__profile {
			display: flex;

			p {
				font-size: 18px;
				font-weight: 700;

				span {
					font-weight: 400;
					font-size: 12px;
					display: block;
				}
			}
		}

		&__image {
			display: block;
			height: 50px;
			min-width: 50px;
			margin-right: 10px;

			img {
				height: 100%;
			}
		}

		&__stars {
			margin-left: auto;
		}

		&__content {
			display: block;
			padding: 10px 20px;

			h5 {
				font-size: 18px;
				margin-bottom: 5px;
			}

			p {
				font-size: 16px;
			}
		}
	}

	&--cart {
		display: flex;
		flex-direction: row;
		height: 100px;
		border: 2px solid var(--primary-color);
		width: 100%;

		&__thumbnails {
			height: 100%;
			width: 100px;
			overflow: hidden;
			border-right: 2px solid var(--primary-color);
		}

		& .card--primary__body {
			border: none;
		}
	}

	& img {
		height: auto;
		width: 100%;
	}

	&__slider {
		width: 250px;
	}

	&--checkout {
		display: flex;
		width: 100%;
		align-items: center;

		&__img-holder {
			position: relative;
			height: 70px;
			width: 70px;
		}

		&__img {
			display: flex;
			justify-content: center;
			border-radius: 5px;
			height: 70px;
			width: 70px;
			border: 1px solid rgba(0, 0, 0, 0.1);
			overflow: hidden;

			img {
				height: 100%;
			}
		}

		&__main {
			width: 40%;
			margin-left: 10px;
		}

		&__quantity {
			--size: 25px;
			text-align: center;
			position: absolute;
			top: -10px;
			right: -10px;
			border-radius: 100%;
			height: var(--size);
			min-height: var(--size);
			width: var(--size);
			min-width: var(--size);
			font-size: 16px;
			color: #fff;
			background: var(--primary-color);
		}

		&__title {
			display: block;
			font-size: 15px;
		}

		&__price {
			font-size: 14px;
		}

		&__total {
			font-size: 24px;
			font-weight: 700;
			margin-left: auto;

			span {
				font-size: 16px;
				margin-right: 5px;
			}
		}
	}

	&--smol {
		display: flex;
		padding: 5px;
		color: rgba(var(--prim-col), 1);
		border: 1px solid transparent;

		&__title {
			display: block;
			font-size: 12px !important;
			font-weight: 600;
			margin-left: 5px;
		}

		&__image {
			height: 50px;
			width: 50px;
			min-width: 50px;
			overflow: hidden;
			img {
				width: 100%;
			}
		}

		&__price {
		}

		&:hover {
			text-decoration: none;
			color: rgba(var(--prim-col), 1);
			border: 1px solid rgba(var(--prim-col), 0.05);
		}
	}
}
.old-price {
	text-decoration: line-through;
	font-weight: 400;
}

.orig-price {
}
.star-full,
.start-empty {
	height: 20px;
	width: 20px;
}

@media (min-width: 992px) {
	.col-lg-custom {
		flex: 0 0 20%;
		max-width: 20%;
	}
}
