.footer {
	display: flex;
	color: #bbbbbb;
	background-color: var(--primary-color);

	h6 {
		color: var(--secondary-color);
	}

	&__discription {
		font-size: 14px !important;
		display: block;
		width: 90% !important;
		color: #bbbbbb;
	}

	& .form-group {
		label {
			font-size: 14px;
		}

		button {
			height: 35px;
			padding: 8px 14px;
			font-size: 12px;
		}
	}

	&__logo {
		height: 45px;
	}

	& .list {
		list-style: none;
		font-size: 14px;
		font-weight: 300;

		&__item {
			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}

		&__link {
			&:hover {
				color: var(--secondary-color-dark);
				text-decoration: underline;
			}

			color: inherit;
			text-decoration: none;
		}
	}

	&__payment {
		display: flex;
		list-style: none;
		flex-wrap: wrap;
		width: 80%;
		& li {
			margin-bottom: 20px;

			&:not(:last-child) {
				margin-right: 25px;
			}
		}

		& img {
			height: 30px;
		}
	}

	&__social {
		display: flex;
		list-style: none;

		& a {
			&:not(:last-child) {
				margin-right: 25px;
			}
		}

		& svg {
			height: 30px;
			width: 30px;
			fill: var(--secondary-color-dark);

			&:hover {
				fill: var(--secondary-color-dark);
			}
		}
	}

	&__copyright {
		color: var(--secondary-color-dark);
		font-size: 14px;
	}
}
