.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
  background: rgba($color: #000000, $alpha: 0.6);
  display: none;

  &-show {
    display: block;

    & .modal--purchase {
      opacity: 1;
      margin-left: 0;
    }
  }

  & > * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__exit {
    position: absolute;
    font-size: 30px;
    right: 20px;
    top: 15px;
    width: 20px;
  }
  &--purchase {
    position: relative;
    background: #fff;
    height: 500px;
    width: 900px;
    padding: 20px;
    opacity: 0;
    margin-left: -50px;
    @include transition;

    .overview__list {
      width: 60px;
      margin-right: 20px;
    }

    .overview__frame {
      height: 100% !important;
      overflow: hidden;
      width: 300px;
      img {
        // height: 100%;
        width: 100%;
      }
    }

    .overview__description {
      width: 100%;
    }

    .heading--title {
      font-size: 25px;
    }
    .overview__price {
      font-size: 20px;
    }

    .overview__add-cart {
      height: 50px;
    }

    .overview__quantity {
      height: 80px;
    }
  }
}
