.cart-prev{
    display: none;
    height: 100vh;
    width: 100%;
    position: fixed;
    top:0;
    right: 0;
    z-index: 100;
    background-color: var(--secondary-color-shade);

    &__tray{
        display: flex;
        flex-direction: column;
        position: relative;
        height: 100%;
        width: 400px;
        margin-left: auto;
        background-color: var(--secondary-color);
        box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2), 0 10px 10px -5px rgba(0, 0, 0, 0.2);
        padding: 20px;
    }

    &__bottom{
        display: flex;
        width: 100%;
        flex-direction: column;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 20px;
        background-color: var(--secondary-color-dark);

        h3{
            font-size: 25px;
            margin-bottom: 10px;
        }
        
    }

    &__exit{
        position: absolute !important;
        top: 30px;
        right: 30px;

        svg{
            height: 40px;
            width: 40px;
        }
    }


}