@import url("https://fonts.googleapis.com/css?family=Exo:400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Exo:400,500,600,700&display=swap");
:root {
  --base-color: #fff;
  --primary-color: rgb(17, 17, 17);
  --primary-color-light: rgb(66, 66, 66);
  --primary-color-shade: rgba(0, 0, 0, 0.5);
  --icon-hover: rgba(0, 0, 0, 0.1);
  --secondary-color: rgb(255, 255, 255);
  --secondary-color-dark: rgb(231, 231, 231);
  --secondary-color-darken: rgb(194, 194, 194);
  --secondary-color-shade: rgba(255, 255, 255, 0.5);
  --color-red: rgb(221, 61, 61);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--secondary-color-dark);
  background-color: var(--primary-color);
}

.footer h1 {
  color: var(--secondary-color-dark);
}

.footer__discription {
  display: block;
  width: 80% !important;
}

.footer__logo {
  height: 60px;
}

.footer .list {
  list-style: none;
  font-size: 18px;
  font-weight: 300;
}

.footer .list__item:not(:last-child) {
  margin-bottom: 10px;
}

.footer .list__link {
  color: inherit;
  text-decoration: none;
}

.footer .list__link:hover {
  color: var(--secondary-color-dark);
}

.footer__payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.footer__payment li:not(:last-child) {
  margin-right: 25px;
}

.footer__payment img {
  height: 35px;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.footer__social a:not(:last-child) {
  margin-right: 25px;
}

.footer__social svg {
  height: 35px;
  width: 35px;
  fill: var(--secondary-color-dark);
}

.footer__social svg:hover {
  fill: var(--secondary-color-dark);
}

.footer__copyright {
  color: var(--secondary-color-dark);
  font-size: 14px;
}

.nav {
  background: var(--secondary-color);
  -webkit-transition: all ease 300ms;
  transition: all ease 300ms;
}

.nav__navbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all ease 300ms;
  transition: all ease 300ms;
}

.nav__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: auto;
  width: 50px;
  height: 50px;
}

.nav__button span {
  display: block;
  position: relative;
  width: 70%;
  height: 2px;
  background: var(--primary-color);
}

.nav__button span:after, .nav__button span:before {
  display: block;
  content: "";
  position: absolute;
  background: inherit;
  height: 100%;
  width: 100%;
}

.nav__button span:after {
  top: -1rem;
}

.nav__button span::before {
  bottom: -1rem;
}

.nav__brand {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 70%;
}

.nav__brand .logo {
  height: 100%;
}

.nav__option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.nav__option > *:not(:last-child) {
  margin-right: 10px;
}

.nav__category {
  width: 100%;
  background-color: #fcfcfc;
}

.nav__category-logo {
  height: 80%;
  opacity: 0;
  margin-left: -50px;
  -webkit-transition: all ease 300ms;
  transition: all ease 300ms;
}

.nav__category-logo img {
  height: 100%;
  width: auto;
}

.nav__category-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  list-style: none;
  text-decoration: none;
  margin-left: auto;
  margin-bottom: none;
  width: auto;
  height: 50px !important;
}

.nav__category-item {
  height: 100%;
  text-decoration: none;
}

.nav__category-item:not(:last-child) {
  margin-right: 30px;
}

.nav__category-item:hover .dropdown {
  opacity: 1;
  margin-left: 0;
  visibility: visible;
}

.nav__category-item:hover .dropdown__group {
  opacity: 1;
  bottom: 0;
}

.nav__category-item .dropdown {
  opacity: 0;
  left: 0;
  visibility: hidden;
}

.nav__category-link {
  display: block;
  position: relative;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: var(--primary-color);
  font-weight: 500;
  height: 100%;
  padding: 0 20px;
  padding-top: 10px;
}

.nav__category-link:hover {
  color: inherit;
  text-decoration: none;
}

.nav__category-link:hover::after {
  height: 3px;
}

.nav__category-link:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0;
  -webkit-transition: all ease 300ms;
  transition: all ease 300ms;
  background-color: var(--primary-color);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
  -webkit-box-shadow: 0 20px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 20px 10px rgba(0, 0, 0, 0.05);
}

.sticky .nav__navbar {
  opacity: 0;
  height: 0 !important;
  visibility: hidden;
}

.sticky .nav__category {
  padding-top: 20px;
}

.sticky .nav__category-logo {
  opacity: 1;
  margin-left: 0;
  margin-right: auto;
}

.sticky .dropdown {
  left: auto;
  right: 0 !important;
}

.cart-prev {
  display: none;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  background-color: var(--secondary-color-shade);
}

.cart-prev__tray {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  height: 100%;
  width: 400px;
  margin-left: auto;
  background-color: var(--secondary-color);
  -webkit-box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2), 0 10px 10px -5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2), 0 10px 10px -5px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.cart-prev__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  background-color: var(--secondary-color-dark);
}

.cart-prev__bottom h3 {
  font-size: 25px;
  margin-bottom: 10px;
}

.cart-prev__exit {
  position: absolute !important;
  top: 30px;
  right: 30px;
}

.cart-prev__exit svg {
  height: 40px;
  width: 40px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0;
}

.card--primary {
  height: 350px;
  max-height: 350px;
  width: 100%;
  border: 1px solid transparent;
  background-color: var(--secondary-color-dark);
  overflow: hidden;
  color: var(--primary-color);
}

.card--primary:hover {
  color: var(--primary-color);
  text-decoration: none;
  -webkit-box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border: 1px solid var(--primary-color);
}

.card--primary:hover .card--primary__body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.card--primary:hover .card--primary__body .price {
  background-color: none;
}

.card--primary:hover .card--primary__prev-img {
  opacity: 1;
}

.card--primary:hover .card--primary__prev-img img {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.card--primary__main-img {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.card--primary__main-img img {
  position: absolute;
}

.card--primary__prev-img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transition: all 700ms ease;
  transition: all 700ms ease;
  opacity: 0;
}

.card--primary__prev-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-transition: all 700ms ease;
  transition: all 700ms ease;
  -webkit-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);
}

.card--primary__body {
  z-index: 10;
  background-color: var(--secondary-color);
  padding: 10px;
  border-top: 2px solid var(--primary-color);
  -webkit-transition: all 800ms ease;
  transition: all 800ms ease;
}

.card--primary__body .title {
  text-transform: uppercase;
  font-size: 16px;
  padding: 0;
  letter-spacing: -1px;
}

.card--primary__body .price {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  padding: 3px 5px;
  margin-left: -5px;
}

.card--comment {
  border: 1px solid #ebebeb;
}

.card--comment__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card--comment__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card--comment__profile p {
  font-size: 18px;
  font-weight: 700;
}

.card--comment__profile p span {
  font-weight: 400;
  font-size: 12px;
  display: block;
}

.card--comment__image {
  display: block;
  height: 50px;
  min-width: 50px;
  margin-right: 10px;
}

.card--comment__image img {
  height: 100%;
}

.card--comment__stars {
  margin-left: auto;
}

.card--comment__content {
  display: block;
  padding: 10px 20px;
}

.card--comment__content h5 {
  font-size: 18px;
  margin-bottom: 5px;
}

.card--comment__content p {
  font-size: 16px;
}

.card--cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100px;
  border: 2px solid var(--primary-color);
  width: 100%;
}

.card--cart__thumbnails {
  height: 100%;
  width: 100px;
  overflow: hidden;
  border-right: 2px solid var(--primary-color);
}

.card--cart .card--primary__body {
  border: none;
}

.card__tray {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 20;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 0;
  right: 0;
  padding: 5px;
}

.card__tray svg {
  height: 25px;
  width: 25px;
}

.card__tray:hover .btn--icon .heart {
  fill: var(--color-red);
}

.card__tray:hover .btn--icon .heart .inner {
  fill: var(--color-red);
}

.card img {
  height: auto;
  width: 100%;
}

.card .card__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 15;
}

.card__slider {
  width: 250px;
}

.card--checkout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card--checkout__img-holder {
  position: relative;
  height: 70px;
  width: 70px;
}

.card--checkout__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  height: 70px;
  width: 70px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card--checkout__img img {
  height: 100%;
}

.card--checkout__main {
  width: 40%;
  margin-left: 10px;
}

.card--checkout__quantity {
  --size: 25px;
  text-align: center;
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 100%;
  height: var(--size);
  min-height: var(--size);
  width: var(--size);
  min-width: var(--size);
  font-size: 16px;
  color: #fff;
  background: var(--primary-color);
}

.card--checkout__title {
  display: block;
  font-size: 15px;
}

.card--checkout__price {
  font-size: 14px;
}

.card--checkout__total {
  font-size: 24px;
  font-weight: 700;
  margin-left: auto;
}

.card--checkout__total span {
  font-size: 16px;
  margin-right: 5px;
}

.search {
  display: none;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  background-color: var(--secondary-color);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search__holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--secondary-color);
  padding: 30px;
  height: 130px;
  width: 100%;
  -webkit-box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.search__holder input {
  font: inherit;
  border: 2px solid var(--primary-color);
  width: 100%;
  font-size: 30px;
  padding: 0 20px;
}

.search__holder input::-webkit-input-placeholder {
  font-size: 20px;
  font-style: italic;
  font-weight: 300;
}

.search__holder input:-ms-input-placeholder {
  font-size: 20px;
  font-style: italic;
  font-weight: 300;
}

.search__holder input::-ms-input-placeholder {
  font-size: 20px;
  font-style: italic;
  font-weight: 300;
}

.search__holder input::placeholder {
  font-size: 20px;
  font-style: italic;
  font-weight: 300;
}

.dropdown {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
  -webkit-transition: all ease 300ms;
  transition: all ease 300ms;
  background-color: var(--secondary-color);
  width: 80vw;
  font-size: 18px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}

.dropdown__info {
  height: 100%;
  width: 150px;
  overflow: hidden;
  position: relative;
}

.dropdown__title {
  position: absolute;
  font-size: 60px;
  color: var(--secondary-color);
  top: 0;
  z-index: 1;
  text-transform: uppercase;
  height: 100%;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.dropdown__content {
  padding: 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.dropdown__group {
  position: relative;
  opacity: 0;
  -webkit-transition: all ease 300ms;
  transition: all ease 300ms;
  bottom: -50px;
}

.dropdown__group h3 {
  text-transform: uppercase;
  font-weight: 500;
  width: 100%;
  margin-bottom: 10px;
}

.dropdown__group ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 80px;
  height: 80%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

.dropdown__group li:not(:last-child) {
  margin-bottom: 8px;
  width: 150px;
}

.dropdown__group a {
  position: relative;
  font-size: 16px;
  color: var(--primary-color);
}

.dropdown__group a:after {
  display: block;
  position: absolute;
  bottom: 0;
  content: "";
  height: 0;
  width: 100%;
  background-color: var(--primary-color);
  -webkit-transition: all ease 300ms;
  transition: all ease 300ms;
}

.dropdown__group a:hover {
  -webkit-transition: all ease 300ms;
  transition: all ease 300ms;
  text-decoration: none;
  font-weight: 700;
}

.dropdown__group a:hover:after {
  height: 4px;
}

.image {
  position: absolute;
  height: 100%;
  width: auto;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

section {
  color: var(--primary-color);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}

.modal-show {
  display: block;
}

.modal-show .modal--purchase {
  opacity: 1;
  margin-left: 0;
}

.modal > * {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal__exit {
  position: absolute;
  font-size: 30px;
  right: 20px;
  top: 15px;
  width: 20px;
}

.modal--purchase {
  position: relative;
  background: #fff;
  height: 500px;
  width: 900px;
  padding: 20px;
  opacity: 0;
  margin-left: -50px;
  -webkit-transition: all ease 300ms;
  transition: all ease 300ms;
}

.modal--purchase .overview__list {
  width: 60px;
  margin-right: 20px;
}

.modal--purchase .overview__frame {
  height: 100% !important;
  overflow: hidden;
  width: 300px;
}

.modal--purchase .overview__frame img {
  width: 100%;
}

.modal--purchase .overview__description {
  width: 100%;
}

.modal--purchase .heading--title {
  font-size: 25px;
}

.modal--purchase .overview__price {
  font-size: 20px;
}

.modal--purchase .overview__add-cart {
  height: 50px;
}

.modal--purchase .overview__quantity {
  height: 80px;
}

.overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.overview .slick-list {
  height: 100% !important;
}

.overview__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: 30px;
  height: auto;
}

.overview__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100%;
  width: 100px !important;
  margin-right: 20px;
}

.overview__list .slick-current {
  border: 2px solid var(--primary-color);
  border-bottom: 4px solid var(--primary-color);
  outline: none;
}

.overview__items {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  height: auto;
  width: 70px !important;
  cursor: pointer;
  -webkit-transition: all ease 300ms;
  transition: all ease 300ms;
}

.overview__items img {
  -webkit-transition: all ease 300ms;
  transition: all ease 300ms;
  width: 100%;
}

.overview__frame {
  width: 400px;
}

.overview__frame .slick-list {
  width: 100%;
}

.overview__frame .slick-track {
  width: 100%;
}

.overview__frame .slick-arrow {
  height: 50px;
  min-width: 50px;
  background: var(--primary-color);
  z-index: 20;
}

.overview__big-img {
  display: block;
  width: 400px;
}

.overview__big-img img {
  width: 100%;
}

.overview__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  width: 40%;
  margin-left: 20px;
}

.overview__price {
  font-size: 30px;
}

.overview__color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  list-style: none;
}

.overview__color-item {
  height: 100%;
  width: 40px;
  border: 2px solid transparent;
}

.overview__color-item:hover {
  border: 2px solid var(--primary-color);
  cursor: pointer;
}

.overview__quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 85px;
}

.overview__quantity:last-child {
  width: 100%;
}

.overview__quantity select {
  width: 100%;
}

.overview__quantity input {
  font-size: 25px !important;
}

.overview__add-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 65px;
}

.overview__add-cart button {
  height: 100%;
  width: 100%;
}

.overview__tab {
  font-size: 18px;
}

.overview__tab .nav-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.overview__tab .nav-link {
  position: relative;
  font-weight: 700;
  color: var(--primary-color-light);
  border: none;
  border-radius: 0;
  padding: 20px 30px;
  border-bottom: none;
  font-weight: 400;
  text-align: center;
}

.overview__tab .nav-link:hover::after, .overview__tab .nav-link:focus::after {
  height: 3px;
}

.overview__tab .nav-link::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0;
  -webkit-transition: all ease 300ms;
  transition: all ease 300ms;
  background-color: var(--primary-color);
}

.overview__tab .tab-content {
  padding: 20px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: var(--primary-color);
  font-weight: 700;
}

.nav-tabs .nav-item.show .nav-link::after,
.nav-tabs .nav-link.active::after {
  height: 3px;
}

.star-full {
  fill: red;
}

.accordion {
  font-weight: 400;
  font-size: 14px;
}

.accordion .card {
  padding-bottom: 1px !important;
}

.accordion .card-header {
  background: none;
  border: 1px solid var(--primary-color);
}

.accordion .card-body {
  line-height: 1.6;
}

.img-active {
  border: 3px solid var(--primary-color);
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  color: var(--primary-color);
}

.login__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 40%;
          flex: 1 0 40%;
  padding: 10px 30px 10px 0px;
}

.login__background {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 60%;
          flex: 1 0 60%;
  min-height: 500px;
  overflow: hidden;
  background: #000;
  border-radius: 6px;
}

.login__image {
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.login__cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
}

.login__floating {
  display: block;
  padding: 15px 20px;
  color: #fff;
  width: 80%;
}

.login__floating h2 {
  font-size: 35px;
  margin-bottom: 10px;
}

.login__floating p {
  font-size: 18px;
  margin-bottom: 10px;
}

.login .form-group {
  height: auto;
}

.checkout__brand {
  display: block;
  height: 50px;
}

.checkout__brand img {
  height: 100%;
}

.checkout__cart {
  background: #f7f7f7;
  padding: 30px;
  border-radius: 5px;
}

.checkout__bread {
  font-size: 0;
}

.checkout__description ul {
  width: 100%;
}

.checkout__description li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-size: 18px;
  margin-bottom: 10px;
}

.checkout__description li p {
  font-weight: 700;
  margin-left: auto;
}

.checkout__description li p span {
  font-size: 14px;
  margin-right: 5px;
}

.checkout__description .final {
  margin-top: 40px;
}

.checkout__description .final div {
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.checkout__description .final div span {
  font-weight: 400;
  font-size: 12px;
}

.checkout__description .final p {
  font-size: 30px;
}

.checkout .steps {
  margin-bottom: 20px;
}

.checkout .steps ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--primary-color-light);
}

.checkout .steps a {
  display: inline-block;
  font-size: 18px;
  text-decoration: none;
  color: var(--secondary-color-dark);
  padding: 5px 20px;
}

.checkout .steps .current {
  background: var(--primary-color);
  font-weight: 600;
}

.checkout .steps .current a {
  color: var(--secondary-color);
  font-size: 20px;
}

.checkout .steps .number {
  display: none;
}

.checkout .steps .current-info {
  display: none;
}

.checkout .actions ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.checkout .actions ul > *:first-child a {
  display: inline-block;
  font-size: 16px;
  padding: 0;
  color: var(--primary-color);
  -webkit-transition: all ease 300ms;
  transition: all ease 300ms;
}

.checkout .actions ul > *:first-child a:hover {
  text-decoration: underline;
}

.checkout .actions ul > *:nth-child(2),
.checkout .actions ul > *:nth-child(3) {
  margin-left: auto;
}

.checkout .actions ul > *:nth-child(2) a,
.checkout .actions ul > *:nth-child(3) a {
  padding: 10px 40px;
  font-size: 16px;
  font-weight: 500;
  border: 2px solid var(--primary-color);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-decoration: none;
}

.checkout .actions ul > *:nth-child(2) a:hover,
.checkout .actions ul > *:nth-child(3) a:hover {
  font-weight: 700;
  background-color: rgba(17, 17, 17, 0.2);
  color: var(--primary-color);
}

.checkout .actions .disabled {
  display: none;
}

.checkout__review {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 20px;
}

.checkout__review li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}

.checkout__review li h6 {
  font-size: 16px;
  margin-right: 20px;
}

.checkout__review li p {
  font-size: 16px;
}

.checkout__method {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all ease 300ms;
  transition: all ease 300ms;
}

.checkout__method .custom-control-label {
  position: absolute;
  left: 20px;
  width: 100%;
  height: 100%;
}

.checkout__method .custom-control-label::after, .checkout__method .custom-control-label::before {
  position: absolute;
  top: 50%;
  left: 0px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.checkout__method:hover {
  background: #f7f7f7;
}

.checkout__method .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  padding: 20px 30px;
}

.checkout__method .content__title {
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 18px;
}

.checkout__method .content__title span {
  font-weight: 400;
  font-size: 12px;
}

.checkout__method .content__price {
  margin-left: auto;
  font-size: 20px;
  font-weight: 700;
}

.checkout__payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 100%;
}

.checkout__payment li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

.checkout__payment .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  border: 1px solid rgba(17, 17, 17, 0.1);
  padding: 10px;
  -webkit-transition: all ease 300ms;
  transition: all ease 300ms;
  width: 100%;
}

.checkout__payment .button img {
  width: 90%;
}

.checkout__payment .button p {
  font-weight: 700;
  font-size: 14px;
}

.checkout__payment .button:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
}

.method-selected {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.cart {
  font-size: 16px;
}

.cart__list:not(:last-child) {
  margin-bottom: 10px;
}

.cart__header {
  font-weight: 500;
  padding: 0.5rem;
  border-bottom: 1px solid var(--primary-color-light);
}

.cart__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.cart__item button {
  font-size: 18px;
}

.cart__qty {
  padding: 0.5rem !important;
}

.cart__qty .inp {
  margin-left: 0;
  height: 40px;
  padding: 0;
  position: relative;
}

.cart__qty .inp div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 !important;
}

.cart__qty .inp div button {
  height: 100% !important;
  border-bottom: 1px solid var(--primary-color) !important;
}

.cart__qty .inp div button:first-child {
  top: 0;
  left: -1px;
  position: absolute;
  border-left: 1px solid var(--primary-color) !important;
  border-right: none;
}

.cart__qty input {
  height: 30px;
  margin-left: 18px;
  padding: 0 !important;
  font-size: 20px !important;
  background: none;
}

.cart__price {
  font-weight: 400;
}

.cart__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.cart__title .img {
  height: 55px;
  width: 55px;
  min-height: 55px;
  min-width: 55px;
  margin-right: 15px;
  overflow: hidden;
}

.cart__title a {
  font-weight: 500;
  text-transform: capitalize;
  color: var(--primary-color);
  text-decoration: none;
}

.cart__title p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--primary-color-light);
}

.cart__title p span {
  display: inline-block;
  height: 15px;
  width: 15px;
}

.cart__summary {
  color: var(--primary-color);
  padding: 20px;
  border: 1px solid black;
  background-color: var(--secondary-color);
  border-radius: 3px;
  -webkit-box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
          box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.cart__summary ul {
  font-size: 14px;
}

.cart__summary ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
  color: var(--primary-color);
}

.cart__summary ul li p {
  font-weight: 400;
  text-transform: uppercase;
  width: 70%;
}

.cart__summary ul li div {
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 16px;
}

.cart__coupon {
  width: 300px;
}

.img-fit {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: var(--primary-color) !important;
  background-color: var(--base-color) !important;
  -webkit-font-smoothing: antialiased;
}

button {
  background: none;
  outline: none !important;
  border: none;
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: 'Exo', sans-serif;
  margin: 0;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.heading--primary {
  font-size: 35px;
  letter-spacing: -1px;
}

.heading--secondary {
  color: inherit;
  font-weight: 600;
  font-size: 21px;
  text-transform: uppercase;
}

.heading--title {
  color: inherit;
  font-weight: 600;
  font-size: 34px;
  line-height: 1.3;
  text-transform: uppercase;
}

.paragraph--primary {
  font-weight: 300;
  line-height: 1.6;
  font-size: 16px;
}

.scroll-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  bottom: 5%;
  right: 5%;
  height: 70px;
  width: 70px;
  z-index: 100;
  background-color: var(--primary-color);
  fill: var(--secondary-color);
  border-radius: 100%;
  border: 2px solid var(--secondary-color);
}

.scroll-top svg {
  height: 35px;
  width: 35px;
  -webkit-transition: all ease 300ms;
  transition: all ease 300ms;
}

.scroll-top:hover {
  background-color: var(--secondary-color);
  fill: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.scroll-top:hover svg {
  margin-top: -14px;
}

.btn {
  font: inherit;
  border: none;
  outline: none;
  background: none;
}

.btn:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
}

.btn--icon {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  width: 40px;
  z-index: 1;
}

.btn--icon:hover::after {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.btn--icon::after {
  position: absolute;
  content: "";
  background-color: var(--icon-hover);
  border-radius: 100%;
  height: 130%;
  width: 130%;
  z-index: -1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}

.btn--primary {
  padding: 10px 40px;
  font-size: 16px;
  font-weight: 500;
  border: 2px solid var(--primary-color);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.btn--primary:hover {
  font-weight: 700;
  background-color: rgba(17, 17, 17, 0.2);
  color: var(--primary-color);
}

.btn--primary--white {
  background-color: #fff;
  color: var(--primary-color);
  border-color: var(--secondary-color);
}

.btn--primary--white:hover {
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  border-color: var(--secondary-color);
}

.btn--primary-rev {
  color: var(--primary-color);
  background-color: transparent;
}

.btn--primary-rev:hover {
  background-color: #c4c4c487;
  color: var(--primary-color);
}

.btn--secondary {
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  padding: 10px;
  -webkit-transition: all ease 300ms;
  transition: all ease 300ms;
}

.btn--secondary:hover {
  border: 1px solid var(--secondary-color);
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.btn--accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
}

.btn--link {
  display: inline-block;
  font-size: 16px;
  padding: 0;
  color: var(--primary-color);
  -webkit-transition: all ease 300ms;
  transition: all ease 300ms;
}

.btn--link:hover {
  text-decoration: underline;
}

.btn--facebook {
  background-color: #4267b2;
  color: var(--secondary-color);
  border: 1px solid #4267b2;
  -webkit-transition: all ease 300ms;
  transition: all ease 300ms;
}

.btn--facebook:hover {
  background-color: #0055ff;
  color: var(--secondary-color);
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70vh;
  background: var(--primary-color);
  overflow: hidden;
}

.slider__item {
  height: 100%;
  width: auto;
}

.slider__banner {
  height: 100%;
  width: auto;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 10px;
}

.form-group label {
  font-weight: 700;
  font-size: 16px;
  color: var(--primary-color-lighten);
}

.form-group label span {
  color: var(--color-red);
}

.custom-checkbox {
  padding-left: 25px;
}

.custom-checkbox .custom-control-label {
  font-weight: 300;
  font-size: 14px;
}

.custom-control-input:checked ~ .custom-control-label::before {
  background: var(--primary-color) !important;
  border-color: var(--primary-color-light) !important;
}

.inp {
  border: none;
  outline: none;
  background: none;
}

.inp--primary {
  font-size: 16px;
  padding: 8px 10px;
  width: 100%;
  border: 1px solid var(--primary-color-light);
  border-bottom-width: 3px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  -webkit-transition: all ease 300ms;
  transition: all ease 300ms;
}

.inp--primary::-webkit-input-placeholder {
  font-size: 14px;
}

.inp--primary:-ms-input-placeholder {
  font-size: 14px;
}

.inp--primary::-ms-input-placeholder {
  font-size: 14px;
}

.inp--primary::placeholder {
  font-size: 14px;
}

.inp--primary:focus {
  border: 1px solid var(--primary-color);
  border-bottom-width: 3px;
}

.inp--count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin-left: auto;
}

.inp--count div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.inp--count div button {
  height: 50%;
  padding: 5px;
  font-weight: 600;
  border: 1px solid var(--primary-color);
  border-left: none;
  font-size: 16px;
  -webkit-transition: all ease 300ms;
  transition: all ease 300ms;
}

.inp--count div button:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
}

.inp--count div button:not(:last-child) {
  border-bottom: none;
}

.inp--count input {
  height: 100%;
  width: 70px;
  padding: 10px;
  text-align: center;
  border: none;
  border: 1px solid var(--primary-color);
  font-size: 40px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.inp--count input:disabled {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.inp--select {
  font-size: 20px;
  border: 1px solid var(--primary-color);
  height: 100%;
}

.icon {
  height: 30px;
  width: 30px;
}

.icon--cart {
  height: 35px;
  width: 35px;
}

.icon--search {
  height: 30px;
  width: 30px;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: var(--primary-color) !important;
  background-color: var(--base-color) !important;
  -webkit-font-smoothing: antialiased;
}

button {
  background: none;
  outline: none !important;
  border: none;
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: 'Exo', sans-serif;
  margin: 0;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
/*# sourceMappingURL=main.css.map */