:root {
	--base-color: #fff;
	--primary-color: rgb(17, 17, 17);
	--primary-color-light: rgb(66, 66, 66);

	--primary-color-shade: rgba(0, 0, 0, 0.5);
	--icon-hover: rgba(0, 0, 0, 0.1);
	--secondary-color: rgb(255, 255, 255);
	--secondary-color-dark: rgb(231, 231, 231);
	--secondary-color-darken: rgb(194, 194, 194);
	--secondary-color-shade: rgba(255, 255, 255, 0.5);

	--color-red: 221, 61, 61;
	--color-yellow: 255, 251, 0;

	--prim-col: 17, 17, 17;
	--sec-col: 255, 255, 255;
	--font-header: 'Exo', sans-serif;
}
